<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" routerLink="">Angular Assignment</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target=".dual-collapse2"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="!isLoggedIn$"
          style="cursor: pointer"
          routerLinkActive="active"
          routerLink="login"
          >Login</a
        >
        <a
          class="nav-link"
          style="cursor: pointer"
          *ngIf="isLoggedIn$"
          (click)="logout()"
          >Logout</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="!isLoggedIn$"
          style="cursor: pointer"
          routerLinkActive="active"
          routerLink="register"
          >Register</a
        >
        <a
          class="nav-link"
          *ngIf="isLoggedIn$"
          style="cursor: pointer"
          routerLinkActive="active"
          routerLink="user/user-list"
          >users</a
        >
      </li>
    </ul>
  </div>
</nav>
