<div class="row" style="max-width: 100%">
  <div class="col-xl-8">
    <form [formGroup]="EditProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="firstname">First Name</label>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              id="firstname"
            />
            <span
              class="help-block text-danger"
              *ngIf="
                !EditProfileForm.get('firstName').valid &&
                EditProfileForm.get('firstName').touched
              "
              >{{ getErrorForNameField("firstName") }}</span
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="lastname">Last Name</label>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              id="lastname"
            />
            <span
              class="help-block text-danger"
              *ngIf="
                !EditProfileForm.get('lastName').valid &&
                EditProfileForm.get('lastName').touched
              "
              >{{ getErrorForNameField("lastName") }}</span
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="lastname">Email</label>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              formControlName="email"
              class="form-control"
              id="lastname"
            />
            <span
              class="help-block text-danger"
              *ngIf="
                !EditProfileForm.get('email').valid &&
                EditProfileForm.get('email').touched
              "
              >{{ getErrorForEmailField("email") }}</span
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="lastname">Password</label>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              formControlName="password"
              class="form-control"
              id="lastname"
            />
            <span
              class="help-block text-danger"
              *ngIf="
                !EditProfileForm.get('password').valid &&
                EditProfileForm.get('password').touched
              "
              >{{ getErrorForPasswordField("password") }}</span
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="lastname">Phone</label>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              formControlName="phone"
              class="form-control"
              id="lastname"
            />
            <span
              class="help-block text-danger"
              *ngIf="
                !EditProfileForm.get('phone').valid &&
                EditProfileForm.get('phone').touched
              "
              >Phone number must be Valid</span
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="lastname">Address</label>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              formControlName="address"
              class="form-control"
              id="lastname"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="Gender">Gender</label>
          </div>
          <div class="col-md-9">
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                id="male"
                name="gender"
                value="Male"
                class="custom-control-input"
                formControlName="gender"
              />
              <label class="custom-control-label" for="male">Male</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                id="female"
                value="Female"
                name="gender"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="female">Female</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label>Interest</label>
          </div>
          <div class="col-md-9">
            <input
            type="text"
            formControlName="interests"
            class="form-control"
          />
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-warning" [disabled]="loading"> <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm"
        ></span>
        <span *ngIf="!loading">Update</span></button>
      </div>
    </form>
  </div>
</div>
